*{
    box-sizing:border-box
}   
body,html {
    height:120%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; 
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)),url("../Resources/Academics.JPG");
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
.wb-heading
{
    position: relative;
    top: 6em;
    color :white;
       text-align: center;
}

.wb-active
    {
        border: solid 0.1em white;
    }


    table {
        margin-top: 12em;
        border-collapse: collapse;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        background-color:rgba(16, 142, 173, 0.774);
        
    }
      td, th {
        border: 0.063em solid white;
        text-align: left;
        padding: 0.5em;
      }