
body,html
{
  background:grey;
}
.wb-gallery {
  padding:3em;
  
  }
  .wb-active
    {
        border: solid 0.1em white;
    }
  .wb-gallery h1 {
  padding:.5em;
  font-size:2.5em;
  font-weight:700;
  text-align:center;
  
  }
  .responsive {
    max-width:100%;
    width:100%;
    height:auto
    }
  #slideshow img{
    width: 20em; 
    height: 20em;
  }
  
  #slideshow {
  margin-left: 28em;
  position:relative;
  width:20em;
  height:20em;
  padding:0.625em;
  box-shadow:0 0 1.25em rgba(0,0,0,0.4)
  }
  
  #slideshow > div {
  position:absolute;
  top:0.625em;
  left:0.625em;
  right:0.625em;
  bottom:0.625em;
  }
  @media only screen and (max-width: 1010px) 
  {
    #slideshow {
      margin-left: 18em;
      position:relative;
      width:20em;
      height:20em;
      padding:0.625em;
      box-shadow:0 0 1.25em rgba(0,0,0,0.4)
      }
      

  }
  @media only screen and (max-width: 800px) 
 {
       
  #slideshow {
  margin-left: 10em;
  position:relative;
  
  }
 } 
   
 @media only screen and (max-width: 500px)
 {
  #slideshow {
    margin-left: 3em;
    position:relative;
    
    }
  
 } 