
.wb-gallery {
  padding:3em;
  background:#f5deb3
  }
  .wb-active
    {
        border: solid 0.1em white;
    }
  .wb-gallery h1 {
  padding:.5em;
  font-size:2.5em;
  font-weight:700;
  text-align:center;
  
  }
  .responsive {
    max-width:100%;
    width:100%;
    height:auto
    }
  #slideshow img{
    width: 25em; 
    height: 26em;
  }
  
  #slideshow {
  margin:5em auto;
  position:relative;
  width:25em;
  height:27.08em;
  padding:0.625em;
  box-shadow:0 0 1.25em rgba(0,0,0,0.4)
  }
  
  #slideshow > div {
  position:absolute;
  top:0.625em;
  left:0.625em;
  right:0.625em;
  bottom:0.625em;
  }