*{
    font-family: 'Roboto Slab', serif;


}
body,html {
    height:auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; 
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../Resources/gallery5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    }
.wb-container{
    max-width: 75.000em;
    margin: 0 auto;    
}
.wb-logo{
    width: 3em;
    float: left;
    cursor: pointer;
   
}
.wb-active
    {
        border: solid 0.1em white;
    }
.wb-nav{
    width: 100%;
}
.wb-nav ul{
    float: right;
   
}

.wb-nav ul li{
    display: inline;
    padding: 0.625em 1.250em;
}
.wb-nav ul li a{
    text-decoration: none;
    line-height: 3.750em;
    color:red;    
}
.wb-nav ul li a:hover{
    color: blueviolet;
}
.wb-heading{
    position: relative;
    clear:both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;


}

 @media only screen and (max-width: 800px) 
 {
     body,html
     {
        height:100%;
        width: 100%;
        
     }
     .wb-logo
     {
         width: 2em;
     }
     .wb-nav ul li a
          {
            line-height: 2.750em;
width: 100%;
              font-size: 0.55em;
              padding: 0,0;

     }
     .wb-heading
     {
         font-size: 1.2em;
     }
 } 
   
 @media only screen and (max-width: 500px)
 {
     .wb-logo{
         width: 0% ;
     }
  
 } 
    
    

    