*{
    font-family: 'Roboto Slab', serif;


}
.wb-active
    {
        border: solid 0.1em white;
    }
.wb-currency
{
    margin-left: 10em;
    margin-top: 8em;
    float: left;
    border: solid white;
    
}

.wb-currencyheading
{
    clear: both;
    text-align: center;
    color: white;
    size: 2em;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    

}
.wb-lead
{
    clear: both;
    text-align: center;
    color: white;
    size: 2em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    
}

.wb-formgroup {
    clear: both;
    text-align: center;
    margin-top: 1em;

}
.wb-formgroupinput
{
    clear: both;
    
    text-align: center;
}
.wb-convertheading
{
    clear: both;
    margin-top: 1em;
    text-align: center;
    color: white;
}
.wb-result{
    
    color: white;
    text-align: center;
}
#ConversionResultsDIV
{
    clear: both;
    text-align:center;
    color:white;
    
}
.wb-timeheading
{
    text-align: center;
    position: relative;
}
.time{
    text-align: center;
    position: relative;

}