*{
    font-family: 'Roboto Slab', serif;


}
.wb-timebox
{
    border: solid white;
    clear: both;
    width: 20%;
    margin: auto;
    background: silver;
}
.wb-timebox h2
{
    clear: both;
    text-align: center;
    color: black;
    size: 2em;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    
}
#ConversionResultsDIV
{
    clear: both;
    text-align:left;
    color:black;
    
        
}

.wb-active
    {
        border: solid 0.1em white;
    }
.wb-currency
{
    border: solid white;
    clear: both;
    width: 20%;
    margin: auto;
    margin-top: 1em;
    background: silver;
}

.wb-currencyheading
{
    clear: both;
    text-align: center;
    color: black;
    size: 2em;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    

}
.wb-lead
{
    clear: both;
    text-align: center;
    color: black;
    size: 2em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    
}

.wb-formgroup {
    clear: both;
    text-align: center;
    margin-top: 1em;

}
.wb-formgroupinput
{
    clear: both;
    
    text-align: center;
}
.wb-convertheading
{
    clear: both;
    margin-top: 1em;
    text-align: center;
    color: white;
}
.wb-result{
    
    color: black;
    text-align: center;
}

